.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
  height: calc(100vh - 20px);
}

.fetch-btn {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 2em;
  border: none;
  background-color: rgb(62, 236, 135);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: font-size 1s;
}

.fetch-btn:hover {
  font-size: large;
}

.dog-pic {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
}

/* footer {
  display: flex;
  margin-top: auto;
} */